<% @show_navbar = false %>

<form action="/new_user" method="POST">
  <p>Please input your name in the Game:</p>
  <input type="text" name="user_name" /><br />  
  <input type="submit" class="btn" value="enter" />
</form>